@import '../../assets/sass/globals.scss';

.card {
    display: flex;
    position: relative;
    margin: 10px 0;
    width: 70%;
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;

    .card-content {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        background-color: $body-card;
        flex-direction: column;
        position: relative;
        width: 400px;
        max-width: 70%;
        text-align: left;

        .card-header {
            background: $header-card;
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
            border-radius: 5px 5px 0 0;
            flex-wrap: wrap;

            .header-icon {
                height: 12px;
                width: auto;
                vertical-align: middle;
            }

            .header-span {
                vertical-align: middle;
            }
        }

        .card-body {
            padding: 10px 15px;
            display: flex;
            flex-wrap: wrap;

            .card-produto {
                width: 75%;
            }

            .tag {
                font-weight: bold;
            }
        }

        .card-products {
            padding: 0px 15px 10px 15px;
            display: flex;
            flex-direction: column;

            .product-row{
                padding: 10px 0;
                display: flex;
                border-top: 1px solid #dedede;
            }

            .product {
                width: 75%;
            }
        }
    }
    
    .card-content::after {
        content: ' ';
        background-color: $header-card;
        position: absolute;
        top: calc(20% - 2px);
        transform: rotate(45deg);
        width: 12px;
        height: 12px;
        right: auto;
        left: -5.5px;;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    
    .check-icon {
        border-radius: 50%;
        position: absolute;
        top: calc(20% - 12px);
        right: auto;
        left: -10px;
        width: 25px;
        height: 25px;
        z-index: 100;
        background: $line-color;
    }    
}


@media only screen and (max-width: 1023px) {
    .card-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .card-content, .card-content {
        text-align: center;
        align-items: center;
    }

    .card-content a {
        text-decoration: underline;
    }

    .card-content a::after {
        display: none;
    }
}
